
#map {
    height: 1000px;
    margin: 25px; 
    align-content: left;
}

body{
    background-color: black;
    color: white;
    margin: 50px;
}  

@media (max-width: 600px){
    body{
        margin: 10px;
        padding: 10px; 
        padding-right: 55px;
    } 

    map{
        margin: 3px;
        padding: 4px;
    }
}


h2, h3, h4 {
    color: red;
} 

#conn_stat, #conn_now{
    font-size: larger;
    font-weight: 800px;
} 

.btn{
    font-weight:800px; 
} 
