
#map {
    height: 1000px;
    width: 1000px;
    margin: 25px; 
}

body{
    background-color: black;
    color: white;
    margin: 50px;
}  

@media (max-width: 400px){
    body{
        margin: 10px;
        padding: 5px;
    } 

    map{
        margin: 3px;
        padding: 4px;
    }
}


h2, h3, h4 {
    color: red;
}